@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
@layer components {
  .nt-bg {
    background-image: linear-gradient(
        rgba(4, 4, 4, 0.9),
        rgba(0, 0, 0, 0.505),
        rgba(6, 6, 6, 0.921)
      ),
      url(../components/img/netflixbg.jpg);
    height: 680px;
    object-fit: cover;
    background-size: 100% 780px;
    background-repeat: no-repeat;
  }
  .hero {
    width: 800px;
  }
  .hero-t {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 150px;
    line-height: 1.1;
  }
  .watch {
    font-size: 1.625rem;
    max-width: 800px;
    font-weight: 400;
  }
  .ready {
    font-size: 1.2rem;
  }
  .email {
    max-width: 100%;
  }
  .btn {
    font-size: 1.875rem;
    line-height: normal;
  }
  .faq-card,
  .svg-closed {
    transform: translateY(-50%) rotate(-45deg) !important;
  }
  .faq-card,
  .svg-icon-thin-x {
    fill: white;
    height: 1.7em;
    position: absolute;
    right: 1em;
    top: 50%;
    width: 1.7em;
  }
}
