@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
@layer components {
  @media (max-width: 640px) {
    .nt-bg {
      background-image: linear-gradient(
          rgba(4, 4, 4, 0.9),
          rgba(0, 0, 0, 0.505),
          rgba(6, 6, 6, 0.921)
        ),
        url(../public/sm-bg.jpg) !important;
      height: 680px;
      object-fit: none !important;
      background-size: 150% 502px !important;
      background-repeat: no-repeat !important;
    }
  }
  .nt-bg {
    background-image: linear-gradient(
        rgba(4, 4, 4, 0.9),
        rgba(0, 0, 0, 0.505),
        rgba(6, 6, 6, 0.921)
      ),
      url(../components/img/netflixbg.jpg);
  }
  .hero {
    width: 800px;
  }
  .hero-t {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
  }
  .email {
    max-width: 100%;
  }
  .btn {
    font-size: 1.875rem;
    line-height: normal;
  }
  .faq-card,
  .svg-closed {
    transform: translateY(-50%) rotate(-45deg) !important;
  }
  .svg-open {
    transform: translateY(-50%) rotate(0deg) !important;
  }
  .faq-card,
  .svg-icon-thin-x {
    fill: white;
    height: 1.7em;
    position: absolute;
    right: 1em;
    top: 50%;
    width: 1.7em;
  }
}
